html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

body {
    display: grid;
    grid-template-rows: repeat(32, 20px);
    grid-template-columns: repeat(32, 20px);
    gap: 2px;
}

body > div {
    background-color: #f27d0c;
}

#interval-id {
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    font-size: 16px;
    padding: 12px;
}
